{{outlet}}
<h1>{{model.title}}</h1>
<h2>Written by: {{model.writer}}</h2>
<h3>{{model.date}}</h3>
<img src="{{model.img}}" />
<p>{{model.text}}</p>

{{update-article article=model update="editRecord"}}

{{admin-delete article=model delete="deleteRecord"}}

{{#link-to 'admin'}}
  <button>Home</button>
{{/link-to}}
